<ul class="student">
  {{#each students}}
    <li>{{this.name}}</li>
    <li>{{this.surname}}</li>
    <li>{{this.age}}</li>
    <li>{{this.mainCourse}}</li>
    <li>{{this.faculty}}</li>
    <li>{{this.name}}</li>
  {{/each}}
</ul>